@font-face {
  font-family: "Helvetica";
  src: url("../assets/fonts/helvetica_light.woff2") format("woff2");
  font-weight: 100;
}
@font-face {
  font-family: "Helvetica";
  src: url("../assets/fonts/helvetica_regular.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "Helvetica";
  src: url("../assets/fonts/helvetica_bold.woff2") format("woff2");
  font-weight: bold;
}
@font-face {
  font-family: "PinyonScript";
  src: url("../assets/fonts/PinyonScript-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "NyghtSerif";
  src: url("../assets/fonts/NyghtSerif-Light.woff2") format("woff2");
}
@font-face {
  font-family: "NyghtSerif";
  src: url("../assets/fonts/NyghtSerif-LightItalic.woff2") format("woff2");
  font-style: italic;
}
@font-face {
  font-family: "Bad Script";
  src: url("../assets/fonts/BadScript-Regular.woff2") format("woff2");
}
